CREATE TABLE [dbo].[CATEGORY](
	[CATEGORYID] [int] IDENTITY(1,1) NOT NULL,
	[CATEGORYNAME] [nvarchar](200) NULL,
	[PARENTCATEGORYID] [int] NULL,
	[ISDELETED] [bit] NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATORUSERID] [int] NULL,
 CONSTRAINT [PK_CATEGORY] PRIMARY KEY CLUSTERED 
(
	[CATEGORYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 25/03/2022 13:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PRODUCTID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTNAME] [nvarchar](250) NULL,
	[CATEGORYID] [int] NULL,
	[PRICE] [decimal](18, 2) NULL,
	[IMAGEPATH] [nvarchar](500) NULL,
	[ISDELETED] [bit] NULL,
	[CREATEDDATE] [datetime] NULL,
	[CREATORUSERID] [int] NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTPROPERTY]    Script Date: 25/03/2022 13:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTPROPERTY](
	[PRODUCTPROPERTYID] [int] IDENTITY(1,1) NOT NULL,
	[PRODUCTID] [int] NULL,
	[PROPERTYID] [int] NULL,
 CONSTRAINT [PK_PRODUCTPROPERTY] PRIMARY KEY CLUSTERED 
(
	[PRODUCTPROPERTYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROPERTY]    Script Date: 25/03/2022 13:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROPERTY](
	[PROPERTYID] [int] IDENTITY(1,1) NOT NULL,
	[KEY] [nvarchar](50) NULL,
	[VALUE] [nvarchar](50) NULL,
 CONSTRAINT [PK_PROPERTY] PRIMARY KEY CLUSTERED 
(
	[PROPERTYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USER]    Script Date: 25/03/2022 13:50:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](50) NULL,
	[SURNAME] [nvarchar](50) NULL,
	[USERNAME] [nvarchar](50) NULL,
	[HASHPASSWORD] [nvarchar](500) NULL,
	[SALTPASSWORD] [nvarchar](50) NULL,
 CONSTRAINT [PK_USER] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([CATEGORYID], [CATEGORYNAME], [PARENTCATEGORYID], [ISDELETED], [CREATEDDATE], [CREATORUSERID]) VALUES (1, N'Category 1', 0, 0, CAST(0x0000AE63009343BF AS DateTime), 1)
INSERT [dbo].[CATEGORY] ([CATEGORYID], [CATEGORYNAME], [PARENTCATEGORYID], [ISDELETED], [CREATEDDATE], [CREATORUSERID]) VALUES (2, N'Sub Cateogry 1', 1, 0, CAST(0x0000AE6300A2F1F2 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
SET IDENTITY_INSERT [dbo].[PRODUCT] ON 

INSERT [dbo].[PRODUCT] ([PRODUCTID], [PRODUCTNAME], [CATEGORYID], [PRICE], [IMAGEPATH], [ISDELETED], [CREATEDDATE], [CREATORUSERID]) VALUES (1, N'Product 1', 2, CAST(250.00 AS Decimal(18, 2)), N'/Uploads/products/image.jpg', 0, CAST(0x0000AE6300A3267A AS DateTime), 1)
INSERT [dbo].[PRODUCT] ([PRODUCTID], [PRODUCTNAME], [CATEGORYID], [PRICE], [IMAGEPATH], [ISDELETED], [CREATEDDATE], [CREATORUSERID]) VALUES (3, N'Product 2', 2, CAST(175.00 AS Decimal(18, 2)), N'/Upload/products/image2.jpg', 1, CAST(0x0000AE6300A51190 AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[PRODUCT] OFF
SET IDENTITY_INSERT [dbo].[PRODUCTPROPERTY] ON 

INSERT [dbo].[PRODUCTPROPERTY] ([PRODUCTPROPERTYID], [PRODUCTID], [PROPERTYID]) VALUES (1, 1, 1)
INSERT [dbo].[PRODUCTPROPERTY] ([PRODUCTPROPERTYID], [PRODUCTID], [PROPERTYID]) VALUES (2, 1, 2)
INSERT [dbo].[PRODUCTPROPERTY] ([PRODUCTPROPERTYID], [PRODUCTID], [PROPERTYID]) VALUES (4, 3, 1)
SET IDENTITY_INSERT [dbo].[PRODUCTPROPERTY] OFF
SET IDENTITY_INSERT [dbo].[PROPERTY] ON 

INSERT [dbo].[PROPERTY] ([PROPERTYID], [KEY], [VALUE]) VALUES (1, N'renk', N'Kırmızı')
INSERT [dbo].[PROPERTY] ([PROPERTYID], [KEY], [VALUE]) VALUES (2, N'renk', N'Mavi')
SET IDENTITY_INSERT [dbo].[PROPERTY] OFF
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CATEGORY] FOREIGN KEY([CATEGORYID])
REFERENCES [dbo].[CATEGORY] ([CATEGORYID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_CATEGORY]
GO
USE [master]
GO
